TG_TOKEN=your_telegram_bot_token_here
CAI_TOKEN=your_character_ai_token_here
NEXT_AUTH=your_character_ai_next_auth_token_here
CHAR_ID=your_character_id_here
VOICE_ID=your_voice_id_here
PERSONA_ID=your_persona_id_here
OWNER_ID=your_telegram_user_id_here
